/* _content/UIComponents.Flags.Blazor/CountryFlag.razor.rz.scp.css */
/* ReSharper disable RedundantUnits */
/* ReSharper disable CssBrowserCompatibility */
/* ReSharper disable CssPropertyDoesNotOverrideVendorProperty */

.small-flag[b-3ot6ul25m5] {
    margin: 0px -20px;
    transform: scale(0.25);
    -ms-transform: scale(0.25); 
    -webkit-transform: scale(0.25);
    -moz-transform: scale(0.25);
  }
  .normal-flag[b-3ot6ul25m5] {
    transform: scale(0.5);
    -ms-transform: scale(0.5); 
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
  }
  .big-flag[b-3ot6ul25m5] {
    margin: 0;
  }
  .small-flag.rounded[b-3ot6ul25m5] {
    -moz-border-radius: 15px;
    border-radius: 15px;
  }
  .normal-flag.rounded[b-3ot6ul25m5] {
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  .big-flag.rounded[b-3ot6ul25m5] {
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
  .small-flag.shadow[b-3ot6ul25m5] {
    -webkit-box-shadow: 0 0 8px #333;
    -moz-box-shadow: 0 0 8px #333;
    box-shadow: 0 0 8px #333;
  }
  .normal-flag.shadow[b-3ot6ul25m5] {
    box-shadow: 0 0 6px #333;
    -webkit-box-shadow: 0 0 6px #333;
    -moz-box-shadow: 0 0 6px #333;
  }
  .big-flag.shadow[b-3ot6ul25m5] {
    box-shadow: 0 0 3px #333;
    -webkit-box-shadow: 0 0 3px #333;
    -moz-box-shadow: 0 0 3px #333;
  }
  .flag[b-3ot6ul25m5] {
    width: 52px;
    height: 39px;
    display: inline-block;
    background-repeat: no-repeat;
  }
.f-and[b-3ot6ul25m5],
.f-ad[b-3ot6ul25m5] {
  background-position: 0 -42px;
}
.f-are[b-3ot6ul25m5],
.f-ae[b-3ot6ul25m5] {
  background-position: 0 -82px;
}
.f-afg[b-3ot6ul25m5],
.f-af[b-3ot6ul25m5] {
  background-position: 0 -123px;
}
.f-atg[b-3ot6ul25m5],
.f-ag[b-3ot6ul25m5] {
  background-position: 0 -164px;
}
.f-aia[b-3ot6ul25m5],
.f-ai[b-3ot6ul25m5] {
  background-position: 0 -205px;
}
.f-alb[b-3ot6ul25m5],
.f-al[b-3ot6ul25m5] {
  background-position: 0 -246px;
}
.f-arm[b-3ot6ul25m5],
.f-am[b-3ot6ul25m5] {
  background-position: 0 -287px;
}
.f-ant[b-3ot6ul25m5],
.f-an[b-3ot6ul25m5] {
  background-position: 0 -328px;
}
.f-ago[b-3ot6ul25m5],
.f-ao[b-3ot6ul25m5] {
  background-position: 0 -369px;
}
.f-ata[b-3ot6ul25m5],
.f-aq[b-3ot6ul25m5] {
  background-position: 0 -410px;
}
.f-arg[b-3ot6ul25m5],
.f-ar[b-3ot6ul25m5] {
  background-position: 0 -451px;
}
.f-asm[b-3ot6ul25m5],
.f-as[b-3ot6ul25m5] {
  background-position: 0 -492px;
}
.f-aut[b-3ot6ul25m5],
.f-at[b-3ot6ul25m5] {
  background-position: 0 -533px;
}
.f-aus[b-3ot6ul25m5],
.f-au[b-3ot6ul25m5] {
  background-position: 0 -574px;
}
.f-abw[b-3ot6ul25m5],
.f-aw[b-3ot6ul25m5] {
  background-position: 0 -615px;
}
.f-ala[b-3ot6ul25m5],
.f-ax[b-3ot6ul25m5] {
  background-position: 0 -657px;
}
.f-aze[b-3ot6ul25m5],
.f-az[b-3ot6ul25m5] {
  background-position: 0 -698px;
}
.f-bih[b-3ot6ul25m5],
.f-ba[b-3ot6ul25m5] {
  background-position: 0 -738px;
}
.f-brb[b-3ot6ul25m5],
.f-bb[b-3ot6ul25m5] {
  background-position: 0 -779px;
}
.f-bgd[b-3ot6ul25m5],
.f-bd[b-3ot6ul25m5] {
  background-position: 0 -820px;
}
.f-bel[b-3ot6ul25m5],
.f-be[b-3ot6ul25m5] {
  background-position: 0 -861px;
}
.f-bfa[b-3ot6ul25m5],
.f-bf[b-3ot6ul25m5] {
  background-position: 0 -902px;
}
.f-bgr[b-3ot6ul25m5],
.f-bg[b-3ot6ul25m5] {
  background-position: 0 -943px;
}
.f-bhr[b-3ot6ul25m5],
.f-bh[b-3ot6ul25m5] {
  background-position: 0 -984px;
}
.f-bdi[b-3ot6ul25m5],
.f-bi[b-3ot6ul25m5] {
  background-position: 0 -1025px;
}
.f-ben[b-3ot6ul25m5],
.f-bj[b-3ot6ul25m5] {
  background-position: 0 -1067px;
}
.f-blm[b-3ot6ul25m5],
.f-bl[b-3ot6ul25m5] {
  background-position: 0 -1107px;
}
.f-bmu[b-3ot6ul25m5],
.f-bm[b-3ot6ul25m5] {
  background-position: 0 -1148px;
}
.f-brn[b-3ot6ul25m5],
.f-bn[b-3ot6ul25m5] {
  background-position: 0 -1189px;
}
.f-bol[b-3ot6ul25m5],
.f-bo[b-3ot6ul25m5] {
  background-position: 0 -1230px;
}
.f-bes[b-3ot6ul25m5],
.f-bq[b-3ot6ul25m5] {
  background-position: 0 -1272px;
}
.f-bra[b-3ot6ul25m5],
.f-br[b-3ot6ul25m5] {
  background-position: 0 -1312px;
}
.f-bhs[b-3ot6ul25m5],
.f-bs[b-3ot6ul25m5] {
  background-position: 0 -1353px;
}
.f-btn[b-3ot6ul25m5],
.f-bt[b-3ot6ul25m5] {
  background-position: 0 -1394px;
}
.f-bvt[b-3ot6ul25m5],
.f-bv[b-3ot6ul25m5] {
  background-position: 0 -1435px;
}
.f-bwa[b-3ot6ul25m5],
.f-bw[b-3ot6ul25m5] {
  background-position: 0 -1477px;
}
.f-blr[b-3ot6ul25m5],
.f-by[b-3ot6ul25m5] {
  background-position: 0 -1517px;
}
.f-blz[b-3ot6ul25m5],
.f-bz[b-3ot6ul25m5] {
  background-position: 0 -1558px;
}
.f-can[b-3ot6ul25m5],
.f-ca[b-3ot6ul25m5] {
  background-position: 0 -1599px;
}
.f-cck[b-3ot6ul25m5],
.f-cc[b-3ot6ul25m5] {
  background-position: 0 -1640px;
}
.f-cod[b-3ot6ul25m5],
.f-cd[b-3ot6ul25m5] {
  background-position: 0 -1681px;
}
.f-caf[b-3ot6ul25m5],
.f-cf[b-3ot6ul25m5] {
  background-position: 0 -1722px;
}
.f-cog[b-3ot6ul25m5],
.f-cg[b-3ot6ul25m5] {
  background-position: 0 -1763px;
}
.f-che[b-3ot6ul25m5],
.f-ch[b-3ot6ul25m5] {
  background-position: 0 -1804px;
}
.f-civ[b-3ot6ul25m5],
.f-ci[b-3ot6ul25m5] {
  background-position: 0 -1845px;
}
.f-cok[b-3ot6ul25m5],
.f-ck[b-3ot6ul25m5] {
  background-position: 0 -1886px;
}
.f-chl[b-3ot6ul25m5],
.f-cl[b-3ot6ul25m5] {
  background-position: 0 -1927px;
}
.f-cmr[b-3ot6ul25m5],
.f-cm[b-3ot6ul25m5] {
  background-position: 0 -1968px;
}
.f-chn[b-3ot6ul25m5],
.f-cn[b-3ot6ul25m5] {
  background-position: 0 -2009px;
}
.f-col[b-3ot6ul25m5],
.f-co[b-3ot6ul25m5] {
  background-position: 0 -2050px;
}
.f-cri[b-3ot6ul25m5],
.f-cr[b-3ot6ul25m5] {
  background-position: 0 -2091px;
}
.f-cub[b-3ot6ul25m5],
.f-cu[b-3ot6ul25m5] {
  background-position: 0 -2132px;
}
.f-cpv[b-3ot6ul25m5],
.f-cv[b-3ot6ul25m5] {
  background-position: 0 -2173px;
}
.f-cuw[b-3ot6ul25m5],
.f-cw[b-3ot6ul25m5] {
  background-position: 0 -2214px;
}
.f-cxr[b-3ot6ul25m5],
.f-cx[b-3ot6ul25m5] {
  background-position: 0 -2255px;
}
.f-cyp[b-3ot6ul25m5],
.f-cy[b-3ot6ul25m5] {
  background-position: 0 -2296px;
}
.f-cze[b-3ot6ul25m5],
.f-cz[b-3ot6ul25m5] {
  background-position: 0 -2337px;
}
.f-deu[b-3ot6ul25m5],
.f-de[b-3ot6ul25m5] {
  background-position: 0 -2377px;
}
.f-dji[b-3ot6ul25m5],
.f-dj[b-3ot6ul25m5] {
  background-position: 0 -2419px;
}
.f-dnk[b-3ot6ul25m5],
.f-dk[b-3ot6ul25m5] {
  background-position: 0 -2460px;
}
.f-dma[b-3ot6ul25m5],
.f-dm[b-3ot6ul25m5] {
  background-position: 0 -2501px;
}
.f-dom[b-3ot6ul25m5],
.f-do[b-3ot6ul25m5] {
  background-position: 0 -2542px;
}
.f-dza[b-3ot6ul25m5],
.f-dz[b-3ot6ul25m5] {
  background-position: 0 -2583px;
}
.f-ecu[b-3ot6ul25m5],
.f-ec[b-3ot6ul25m5] {
  background-position: 0 -2624px;
}
.f-est[b-3ot6ul25m5],
.f-ee[b-3ot6ul25m5] {
  background-position: 0 -2665px;
}
.f-egy[b-3ot6ul25m5],
.f-eg[b-3ot6ul25m5] {
  background-position: 0 -2706px;
}
.f-esh[b-3ot6ul25m5],
.f-eh[b-3ot6ul25m5] {
  background-position: 0 -2747px;
}
.f-eri[b-3ot6ul25m5],
.f-er[b-3ot6ul25m5] {
  background-position: 0 -2787px;
}
.f-es-ca[b-3ot6ul25m5] {
  background-position: 0 -2829px;
}
.f-esp[b-3ot6ul25m5],
.f-es[b-3ot6ul25m5] {
  background-position: 0 -2870px;
}
.f-eth[b-3ot6ul25m5],
.f-et[b-3ot6ul25m5] {
  background-position: 0 -2911px;
}
.f-eu[b-3ot6ul25m5] {
  background-position: 0 -2953px;
}
.f-fin[b-3ot6ul25m5],
.f-fi[b-3ot6ul25m5] {
  background-position: 0 -2993px;
}
.f-fji[b-3ot6ul25m5],
.f-fj[b-3ot6ul25m5] {
  background-position: 0 -3034px;
}
.f-flk[b-3ot6ul25m5],
.f-fk[b-3ot6ul25m5] {
  background-position: 0 -3075px;
}
.f-fsm[b-3ot6ul25m5],
.f-fm[b-3ot6ul25m5] {
  background-position: 0 -3116px;
}
.f-fro[b-3ot6ul25m5],
.f-fo[b-3ot6ul25m5] {
  background-position: 0 -3157px;
}
.f-fra[b-3ot6ul25m5],
.f-fr[b-3ot6ul25m5] {
  background-position: 0 -3198px;
}
.f-gab[b-3ot6ul25m5],
.f-ga[b-3ot6ul25m5] {
  background-position: 0 -3239px;
}
.f-gb-eng[b-3ot6ul25m5] {
  background-position: 0 -3280px;
}
.f-gb-nir[b-3ot6ul25m5] {
  background-position: 0 -3321px;
}
.f-gb-sct[b-3ot6ul25m5] {
  background-position: 0 -3362px;
}
.f-gb-wls[b-3ot6ul25m5] {
  background-position: 0 -3403px;
}
.f-gbr[b-3ot6ul25m5],
.f-gb[b-3ot6ul25m5] {
  background-position: 0 -3444px;
}
.f-grd[b-3ot6ul25m5],
.f-gd[b-3ot6ul25m5] {
  background-position: 0 -3485px;
}
.f-geo[b-3ot6ul25m5],
.f-ge[b-3ot6ul25m5] {
  background-position: 0 -3526px;
}
.f-guf[b-3ot6ul25m5],
.f-gf[b-3ot6ul25m5] {
  background-position: 0 -3567px;
}
.f-ggy[b-3ot6ul25m5],
.f-gg[b-3ot6ul25m5] {
  background-position: 0 -3608px;
}
.f-gha[b-3ot6ul25m5],
.f-gh[b-3ot6ul25m5] {
  background-position: 0 -3649px;
}
.f-gib[b-3ot6ul25m5],
.f-gi[b-3ot6ul25m5] {
  background-position: 0 -3690px;
}
.f-grl[b-3ot6ul25m5],
.f-gl[b-3ot6ul25m5] {
  background-position: 0 -3731px;
}
.f-gmb[b-3ot6ul25m5],
.f-gm[b-3ot6ul25m5] {
  background-position: 0 -3771px;
}
.f-gin[b-3ot6ul25m5],
.f-gn[b-3ot6ul25m5] {
  background-position: 0 -3813px;
}
.f-glp[b-3ot6ul25m5],
.f-gp[b-3ot6ul25m5] {
  background-position: 0 -3854px;
}
.f-gnq[b-3ot6ul25m5],
.f-gq[b-3ot6ul25m5] {
  background-position: 0 -3895px;
}
.f-grc[b-3ot6ul25m5],
.f-gr[b-3ot6ul25m5] {
  background-position: 0 -3936px;
}
.f-sgs[b-3ot6ul25m5],
.f-gs[b-3ot6ul25m5] {
  background-position: 0 -3977px;
}
.f-gtm[b-3ot6ul25m5],
.f-gt[b-3ot6ul25m5] {
  background-position: 0 -4018px;
}
.f-gum[b-3ot6ul25m5],
.f-gu[b-3ot6ul25m5] {
  background-position: 0 -4059px;
}
.f-gnb[b-3ot6ul25m5],
.f-gw[b-3ot6ul25m5] {
  background-position: 0 -4100px;
}
.f-guy[b-3ot6ul25m5],
.f-gy[b-3ot6ul25m5] {
  background-position: 0 -4141px;
}
.f-hkg[b-3ot6ul25m5],
.f-hk[b-3ot6ul25m5] {
  background-position: 0 -4182px;
}
.f-hmd[b-3ot6ul25m5],
.f-hm[b-3ot6ul25m5] {
  background-position: 0 -4223px;
}
.f-hnd[b-3ot6ul25m5],
.f-hn[b-3ot6ul25m5] {
  background-position: 0 -4264px;
}
.f-hrv[b-3ot6ul25m5],
.f-hr[b-3ot6ul25m5] {
  background-position: 0 -4305px;
}
.f-hti[b-3ot6ul25m5],
.f-ht[b-3ot6ul25m5] {
  background-position: 0 -4347px;
}
.f-hun[b-3ot6ul25m5],
.f-hu[b-3ot6ul25m5] {
  background-position: 0 -4387px;
}
.f-idn[b-3ot6ul25m5],
.f-id[b-3ot6ul25m5] {
  background-position: 0 -4428px;
}
.f-irl[b-3ot6ul25m5],
.f-ie[b-3ot6ul25m5] {
  background-position: 0 -4468px;
}
.f-isr[b-3ot6ul25m5],
.f-il[b-3ot6ul25m5] {
  background-position: 0 -4510px;
}
.f-imn[b-3ot6ul25m5],
.f-im[b-3ot6ul25m5] {
  background-position: 0 -4551px;
}
.f-ind[b-3ot6ul25m5],
.f-in[b-3ot6ul25m5] {
  background-position: 0 -4593px;
}
.f-iot[b-3ot6ul25m5],
.f-io[b-3ot6ul25m5] {
  background-position: 0 -4633px;
}
.f-irq[b-3ot6ul25m5],
.f-iq[b-3ot6ul25m5] {
  background-position: 0 -4674px;
}
.f-irn[b-3ot6ul25m5],
.f-ir[b-3ot6ul25m5] {
  background-position: 0 -4715px;
}
.f-isl[b-3ot6ul25m5],
.f-is[b-3ot6ul25m5] {
  background-position: 0 -4756px;
}
.f-ita[b-3ot6ul25m5],
.f-it[b-3ot6ul25m5] {
  background-position: 0 -4797px;
}
.f-jey[b-3ot6ul25m5],
.f-je[b-3ot6ul25m5] {
  background-position: 0 -4838px;
}
.f-jam[b-3ot6ul25m5],
.f-jm[b-3ot6ul25m5] {
  background-position: 0 -4879px;
}
.f-jor[b-3ot6ul25m5],
.f-jo[b-3ot6ul25m5] {
  background-position: 0 -4920px;
}
.f-jpn[b-3ot6ul25m5],
.f-jp[b-3ot6ul25m5] {
  background-position: 0 -4961px;
}
.f-ken[b-3ot6ul25m5],
.f-ke[b-3ot6ul25m5] {
  background-position: 0 -5002px;
}
.f-kgz[b-3ot6ul25m5],
.f-kg[b-3ot6ul25m5] {
  background-position: 0 -5043px;
}
.f-khm[b-3ot6ul25m5],
.f-kh[b-3ot6ul25m5] {
  background-position: 0 -5084px;
}
.f-kir[b-3ot6ul25m5],
.f-ki[b-3ot6ul25m5] {
  background-position: 0 -5125px;
}
.f-com[b-3ot6ul25m5],
.f-km[b-3ot6ul25m5] {
  background-position: 0 -5166px;
}
.f-kna[b-3ot6ul25m5],
.f-kn[b-3ot6ul25m5] {
  background-position: 0 -5207px;
}
.f-prk[b-3ot6ul25m5],
.f-kp[b-3ot6ul25m5] {
  background-position: 0 -5248px;
}
.f-kor[b-3ot6ul25m5],
.f-kr[b-3ot6ul25m5] {
  background-position: 0 -5289px;
}
.f-kwt[b-3ot6ul25m5],
.f-kw[b-3ot6ul25m5] {
  background-position: 0 -5330px;
}
.f-cym[b-3ot6ul25m5],
.f-ky[b-3ot6ul25m5] {
  background-position: 0 -5371px;
}
.f-kaz[b-3ot6ul25m5],
.f-kz[b-3ot6ul25m5] {
  background-position: 0 -5412px;
}
.f-lao[b-3ot6ul25m5],
.f-la[b-3ot6ul25m5] {
  background-position: 0 -5453px;
}
.f-lbn[b-3ot6ul25m5],
.f-lb[b-3ot6ul25m5] {
  background-position: 0 -5494px;
}
.f-lca[b-3ot6ul25m5],
.f-lc[b-3ot6ul25m5] {
  background-position: 0 -5535px;
}
.f-lie[b-3ot6ul25m5],
.f-li[b-3ot6ul25m5] {
  background-position: 0 -5576px;
}
.f-lka[b-3ot6ul25m5],
.f-lk[b-3ot6ul25m5] {
  background-position: 0 -5617px;
}
.f-lbr[b-3ot6ul25m5],
.f-lr[b-3ot6ul25m5] {
  background-position: 0 -5658px;
}
.f-lso[b-3ot6ul25m5],
.f-ls[b-3ot6ul25m5] {
  background-position: 0 -5698px;
}
.f-ltu[b-3ot6ul25m5],
.f-lt[b-3ot6ul25m5] {
  background-position: 0 -5740px;
}
.f-lux[b-3ot6ul25m5],
.f-lu[b-3ot6ul25m5] {
  background-position: 0 -5781px;
}
.f-lva[b-3ot6ul25m5],
.f-lv[b-3ot6ul25m5] {
  background-position: 0 -5822px;
}
.f-lby[b-3ot6ul25m5],
.f-ly[b-3ot6ul25m5] {
  background-position: 0 -5862px;
}
.f-mar[b-3ot6ul25m5],
.f-ma[b-3ot6ul25m5] {
  background-position: 0 -5904px;
}
.f-mco[b-3ot6ul25m5],
.f-mc[b-3ot6ul25m5] {
  background-position: 0 -5945px;
}
.f-mda[b-3ot6ul25m5],
.f-md[b-3ot6ul25m5] {
  background-position: 0 -5986px;
}
.f-mne[b-3ot6ul25m5],
.f-me[b-3ot6ul25m5] {
  background-position: 0 -6028px;
}
.f-maf[b-3ot6ul25m5],
.f-mf[b-3ot6ul25m5] {
  background-position: 0 -6068px;
}
.f-mdg[b-3ot6ul25m5],
.f-mg[b-3ot6ul25m5] {
  background-position: 0 -6109px;
}
.f-mhl[b-3ot6ul25m5],
.f-mh[b-3ot6ul25m5] {
  background-position: 0 -6150px;
}
.f-mkd[b-3ot6ul25m5],
.f-mk[b-3ot6ul25m5] {
  background-position: 0 -6191px;
}
.f-mli[b-3ot6ul25m5],
.f-ml[b-3ot6ul25m5] {
  background-position: 0 -6233px;
}
.f-mmr[b-3ot6ul25m5],
.f-mm[b-3ot6ul25m5] {
  background-position: 0 -6273px;
}
.f-mng[b-3ot6ul25m5],
.f-mn[b-3ot6ul25m5] {
  background-position: 0 -6314px;
}
.f-mac[b-3ot6ul25m5],
.f-mo[b-3ot6ul25m5] {
  background-position: 0 -6355px;
}
.f-mnp[b-3ot6ul25m5],
.f-mp[b-3ot6ul25m5] {
  background-position: 0 -6397px;
}
.f-mtq[b-3ot6ul25m5],
.f-mq[b-3ot6ul25m5] {
  background-position: 0 -6437px;
}
.f-mrt[b-3ot6ul25m5],
.f-mr[b-3ot6ul25m5] {
  background-position: 0 -6478px;
}
.f-msr[b-3ot6ul25m5],
.f-ms[b-3ot6ul25m5] {
  background-position: 0 -6519px;
}
.f-mlt[b-3ot6ul25m5],
.f-mt[b-3ot6ul25m5] {
  background-position: 0 -6560px;
}
.f-mus[b-3ot6ul25m5],
.f-mu[b-3ot6ul25m5] {
  background-position: 0 -6601px;
}
.f-mdv[b-3ot6ul25m5],
.f-mv[b-3ot6ul25m5] {
  background-position: 0 -6642px;
}
.f-mwi[b-3ot6ul25m5],
.f-mw[b-3ot6ul25m5] {
  background-position: 0 -6682px;
}
.f-mex[b-3ot6ul25m5],
.f-mx[b-3ot6ul25m5] {
  background-position: 0 -6724px;
}
.f-mys[b-3ot6ul25m5],
.f-my[b-3ot6ul25m5] {
  background-position: 0 -6765px;
}
.f-moz[b-3ot6ul25m5],
.f-mz[b-3ot6ul25m5] {
  background-position: 0 -6806px;
}
.f-nam[b-3ot6ul25m5],
.f-na[b-3ot6ul25m5] {
  background-position: 0 -6847px;
}
.f-ncl[b-3ot6ul25m5],
.f-nc[b-3ot6ul25m5] {
  background-position: 0 -6888px;
}
.f-ner[b-3ot6ul25m5],
.f-ne[b-3ot6ul25m5] {
  background-position: 0 -6929px;
}
.f-nfk[b-3ot6ul25m5],
.f-nf[b-3ot6ul25m5] {
  background-position: 0 -6970px;
}
.f-nga[b-3ot6ul25m5],
.f-ng[b-3ot6ul25m5] {
  background-position: 0 -7011px;
}
.f-nic[b-3ot6ul25m5],
.f-ni[b-3ot6ul25m5] {
  background-position: 0 -7052px;
}
.f-nld[b-3ot6ul25m5],
.f-nl[b-3ot6ul25m5] {
  background-position: 0 -7093px;
}
.f-nor[b-3ot6ul25m5],
.f-no[b-3ot6ul25m5] {
  background-position: 0 -7134px;
}
.f-npl[b-3ot6ul25m5],
.f-np[b-3ot6ul25m5] {
  background-position: 0 -7175px;
}
.f-nru[b-3ot6ul25m5],
.f-nr[b-3ot6ul25m5] {
  background-position: 0 -7217px;
}
.f-niu[b-3ot6ul25m5],
.f-nu[b-3ot6ul25m5] {
  background-position: 0 -7257px;
}
.f-nzl[b-3ot6ul25m5],
.f-nz[b-3ot6ul25m5] {
  background-position: 0 -7298px;
}
.f-omn[b-3ot6ul25m5],
.f-om[b-3ot6ul25m5] {
  background-position: 0 -7339px;
}
.f-pan[b-3ot6ul25m5],
.f-pa[b-3ot6ul25m5] {
  background-position: 0 -7380px;
}
.f-per[b-3ot6ul25m5],
.f-pe[b-3ot6ul25m5] {
  background-position: 0 -7421px;
}
.f-pyf[b-3ot6ul25m5],
.f-pf[b-3ot6ul25m5] {
  background-position: 0 -7463px;
}
.f-png[b-3ot6ul25m5],
.f-pg[b-3ot6ul25m5] {
  background-position: 0 -7503px;
}
.f-phl[b-3ot6ul25m5],
.f-ph[b-3ot6ul25m5] {
  background-position: 0 -7544px;
}
.f-pak[b-3ot6ul25m5],
.f-pk[b-3ot6ul25m5] {
  background-position: 0 -7585px;
}
.f-pol[b-3ot6ul25m5],
.f-pl[b-3ot6ul25m5] {
  background-position: 0 -7626px;
}
.f-spm[b-3ot6ul25m5],
.f-pm[b-3ot6ul25m5] {
  background-position: 0 -7667px;
}
.f-pcn[b-3ot6ul25m5],
.f-pn[b-3ot6ul25m5] {
  background-position: 0 -7708px;
}
.f-pri[b-3ot6ul25m5],
.f-pr[b-3ot6ul25m5] {
  background-position: 0 -7749px;
}
.f-pse[b-3ot6ul25m5],
.f-ps[b-3ot6ul25m5] {
  background-position: 0 -7790px;
}
.f-prt[b-3ot6ul25m5],
.f-pt[b-3ot6ul25m5] {
  background-position: 0 -7831px;
}
.f-plw[b-3ot6ul25m5],
.f-pw[b-3ot6ul25m5] {
  background-position: 0 -7873px;
}
.f-pry[b-3ot6ul25m5],
.f-py[b-3ot6ul25m5] {
  background-position: 0 -7913px;
}
.f-qat[b-3ot6ul25m5],
.f-qa[b-3ot6ul25m5] {
  background-position: 0 -7954px;
}
.f-reu[b-3ot6ul25m5],
.f-re[b-3ot6ul25m5] {
  background-position: 0 -7995px;
}
.f-rou[b-3ot6ul25m5],
.f-ro[b-3ot6ul25m5] {
  background-position: 0 -8036px;
}
.f-srb[b-3ot6ul25m5],
.f-rs[b-3ot6ul25m5] {
  background-position: 0 -8077px;
}
.f-rus[b-3ot6ul25m5],
.f-ru[b-3ot6ul25m5] {
  background-position: 0 -8117px;
}
.f-rwa[b-3ot6ul25m5],
.f-rw[b-3ot6ul25m5] {
  background-position: 0 -8159px;
}
.f-sau[b-3ot6ul25m5],
.f-sa[b-3ot6ul25m5] {
  background-position: 0 -8200px;
}
.f-slb[b-3ot6ul25m5],
.f-sb[b-3ot6ul25m5] {
  background-position: 0 -8241px;
}
.f-syc[b-3ot6ul25m5],
.f-sc[b-3ot6ul25m5] {
  background-position: 0 -8282px;
}
.f-sdn[b-3ot6ul25m5],
.f-sd[b-3ot6ul25m5] {
  background-position: 0 -8323px;
}
.f-swe[b-3ot6ul25m5],
.f-se[b-3ot6ul25m5] {
  background-position: 0 -8364px;
}
.f-sgp[b-3ot6ul25m5],
.f-sg[b-3ot6ul25m5] {
  background-position: 0 -8405px;
}
.f-shn[b-3ot6ul25m5],
.f-sh[b-3ot6ul25m5] {
  background-position: 0 -8446px;
}
.f-svn[b-3ot6ul25m5],
.f-si[b-3ot6ul25m5] {
  background-position: 0 -8487px;
}
.f-sjm[b-3ot6ul25m5],
.f-sj[b-3ot6ul25m5] {
  background-position: 0 -8528px;
}
.f-svk[b-3ot6ul25m5],
.f-sk[b-3ot6ul25m5] {
  background-position: 0 -8569px;
}
.f-sle[b-3ot6ul25m5],
.f-sl[b-3ot6ul25m5] {
  background-position: 0 -8610px;
}
.f-smr[b-3ot6ul25m5],
.f-sm[b-3ot6ul25m5] {
  background-position: 0 -8651px;
}
.f-sen[b-3ot6ul25m5],
.f-sn[b-3ot6ul25m5] {
  background-position: 0 -8693px;
}
.f-som[b-3ot6ul25m5],
.f-so[b-3ot6ul25m5] {
  background-position: 0 -8733px;
}
.f-sur[b-3ot6ul25m5],
.f-sr[b-3ot6ul25m5] {
  background-position: 0 -8774px;
}
.f-ssd[b-3ot6ul25m5],
.f-ss[b-3ot6ul25m5] {
  background-position: 0 -8815px;
}
.f-stp[b-3ot6ul25m5],
.f-st[b-3ot6ul25m5] {
  background-position: 0 -8856px;
}
.f-slv[b-3ot6ul25m5],
.f-sv[b-3ot6ul25m5] {
  background-position: 0 -8897px;
}
.f-sxm[b-3ot6ul25m5],
.f-sx[b-3ot6ul25m5] {
  background-position: 0 -8938px;
}
.f-syr[b-3ot6ul25m5],
.f-sy[b-3ot6ul25m5] {
  background-position: 0 -8979px;
}
.f-swz[b-3ot6ul25m5],
.f-sz[b-3ot6ul25m5] {
  background-position: 0 -9020px;
}
.f-tca[b-3ot6ul25m5],
.f-tc[b-3ot6ul25m5] {
  background-position: 0 -9061px;
}
.f-tcd[b-3ot6ul25m5],
.f-td[b-3ot6ul25m5] {
  background-position: 0 -9102px;
}
.f-atf[b-3ot6ul25m5],
.f-tf[b-3ot6ul25m5] {
  background-position: 0 -9142px;
}
.f-tgo[b-3ot6ul25m5],
.f-tg[b-3ot6ul25m5] {
  background-position: 0 -9184px;
}
.f-tha[b-3ot6ul25m5],
.f-th[b-3ot6ul25m5] {
  background-position: 0 -9225px;
}
.f-tjk[b-3ot6ul25m5],
.f-tj[b-3ot6ul25m5] {
  background-position: 0 -9266px;
}
.f-tkl[b-3ot6ul25m5],
.f-tk[b-3ot6ul25m5] {
  background-position: 0 -9307px;
}
.f-tls[b-3ot6ul25m5],
.f-tl[b-3ot6ul25m5] {
  background-position: 0 -9348px;
}
.f-tkm[b-3ot6ul25m5],
.f-tm[b-3ot6ul25m5] {
  background-position: 0 -9389px;
}
.f-tun[b-3ot6ul25m5],
.f-tn[b-3ot6ul25m5] {
  background-position: 0 -9430px;
}
.f-ton[b-3ot6ul25m5],
.f-to[b-3ot6ul25m5] {
  background-position: 0 -9472px;
}
.f-tur[b-3ot6ul25m5],
.f-tr[b-3ot6ul25m5] {
  background-position: 0 -9512px;
}
.f-tto[b-3ot6ul25m5],
.f-tt[b-3ot6ul25m5] {
  background-position: 0 -9552px;
}
.f-tuv[b-3ot6ul25m5],
.f-tv[b-3ot6ul25m5] {
  background-position: 0 -9594px;
}
.f-twn[b-3ot6ul25m5],
.f-tw[b-3ot6ul25m5] {
  background-position: 0 -9635px;
}
.f-tza[b-3ot6ul25m5],
.f-tz[b-3ot6ul25m5] {
  background-position: 0 -9676px;
}
.f-ukr[b-3ot6ul25m5],
.f-ua[b-3ot6ul25m5] {
  background-position: 0 -9717px;
}
.f-uga[b-3ot6ul25m5],
.f-ug[b-3ot6ul25m5] {
  background-position: 0 -9757px;
}
.f-umi[b-3ot6ul25m5],
.f-um[b-3ot6ul25m5] {
  background-position: 0 -9799px;
}
.f-un[b-3ot6ul25m5] {
  background-position: 0 -9840px;
}
.f-usa[b-3ot6ul25m5],
.f-us[b-3ot6ul25m5] {
  background-position: 0 -9881px;
}
.f-ury[b-3ot6ul25m5],
.f-uy[b-3ot6ul25m5] {
  background-position: 0 -9922px;
}
.f-uzb[b-3ot6ul25m5],
.f-uz[b-3ot6ul25m5] {
  background-position: 0 -9963px;
}
.f-vat[b-3ot6ul25m5],
.f-va[b-3ot6ul25m5] {
  background-position: 0 -10004px;
}
.f-vct[b-3ot6ul25m5],
.f-vc[b-3ot6ul25m5] {
  background-position: 0 -10045px;
}
.f-ven[b-3ot6ul25m5],
.f-ve[b-3ot6ul25m5] {
  background-position: 0 -10086px;
}
.f-vgb[b-3ot6ul25m5],
.f-vg[b-3ot6ul25m5] {
  background-position: 0 -10127px;
}
.f-vir[b-3ot6ul25m5],
.f-vi[b-3ot6ul25m5] {
  background-position: 0 -10168px;
}
.f-vnm[b-3ot6ul25m5],
.f-vn[b-3ot6ul25m5] {
  background-position: 0 -10209px;
}
.f-vut[b-3ot6ul25m5],
.f-vu[b-3ot6ul25m5] {
  background-position: 0 -10250px;
}
.f-wlf[b-3ot6ul25m5],
.f-wf[b-3ot6ul25m5] {
  background-position: 0 -10291px;
}
.f-wsm[b-3ot6ul25m5],
.f-ws[b-3ot6ul25m5] {
  background-position: 0 -10331px;
}
.f-xk[b-3ot6ul25m5] {
  background-position: 0 -10373px;
}
.f-yem[b-3ot6ul25m5],
.f-ye[b-3ot6ul25m5] {
  background-position: 0 -10414px;
}
.f-myt[b-3ot6ul25m5],
.f-yt[b-3ot6ul25m5] {
  background-position: 0 -10455px;
}
.f-zaf[b-3ot6ul25m5],
.f-za[b-3ot6ul25m5] {
  background-position: 0 -10496px;
}
.f-zmb[b-3ot6ul25m5],
.f-zm[b-3ot6ul25m5] {
  background-position: 0 -10538px;
}
.f-zwe[b-3ot6ul25m5],
.f-zw[b-3ot6ul25m5] {
  background-position: 0 -10578px;
}
.f-sun[b-3ot6ul25m5],
.f-su[b-3ot6ul25m5] {
  background-position: 0 -10619px;
  height: 26px;
}
